# Gradle config
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Gradle artifacts
/build/
docs/web/*.html
docs/web/*.ico
docs/web/*.gif
docs/web/*.css
docs/web/package-list
docs/web/DefaultPackage/*

