<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="2.4">

    <display-name>Jenkins Shared Library 'j2pipefy' Docs</display-name>

    <description>
        This is a generated groovy doc fitted into a web application.
    </description>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>